* {
  margin: 0;
  padding: 0;
}
:root {
  --background-color: #573824;
  --surface-color: #F0E8C2; 

}


body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
}

#page {
  padding: 24px;
  background-color:var(--surface-color);
}

img {
  border-radius: 16px;
}
