* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #573824;
  --surface-color: #f0e8c2;
  --text-color-primary: #291b1a;
  --text-color-secondary: #573a37;
  --text-color-on-bg: #F0E8C2;
}

body {
  background-image: url(assets/bg-image.jpg);
  background-size: cover;
  font-family: "Alice", serif;
}

#page {
  box-sizing: border-box;
  width: 800px;
  padding: 24px;
  background-color: var(--surface-color);
  border-radius: 24px;
  margin: 48px auto 28px;
}

img {
  border-radius: 16px;
}

main {
  margin: 24px;
}

section + section {
  margin-top: 24px;
}

#about p + p {
  margin-top: 12px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 24px;
}

h1,
h2 {
  margin-bottom: 4px;
  color: var(--text-color-primary);
  line-height: 150%;
  font-weight: 400;
}

p {
  color: var(--text-color-secondary);
  font-size: 16px;
}

ul {
  margin-left: 24px;
}

li {
  padding: 1px;
  line-height: 140%;
  color: var(--text-color-secondary);
}

footer {
  text-align: center;
  margin-bottom: 48px;
  color: var(--text-color-on-bg);
}

footer img {
  vertical-align: middle;
}